makefile

# Object files
*.o
*.ko
*.obj
*.elf
*.lst
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

*.lst

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.pyc
*.vs
*.atsln
*.atsuo
*.cproj
*.xml
*.eep
*.lss
*.d
*.map
*.mk
*.srec

*.swag

# Debug files
*.dSYM/
